version: "1"

package:
  name: "{{ name }}"
  version: "{{ version }}"
  engineVersion: "{{ engine_version }}"

matrix:
  {{ name }}:
    path: "./"
    spec:
{% for pattern in spec_patterns %}
      - {{ pattern }}
{% endfor %}
    artifacts:
{% for pattern in artifact_patterns %}
      - {{ pattern }}
{% endfor %}
{% if components %}
    components:
      source: {{ components.source }}
      entry: {{ components.entry }}
{% endif %}
    outputDir: {{ output_dir }}
